<form method="POST" action="{{ .CgiPath }}" class="komment_form">

  <div class="komment_form_name">
  <input type="text" name="name" placeholder="Name" required="required" autocomplete="on"/>
  </div>

  <div class="komment_form_message">
  <textarea name="comment" placeholder="Type your comment here ..." required="required"></textarea>
  </div>

  <input type="submit"/>

</form>
