// vim: ft=javascript
var Komment = (function() {

  var self = {}

  self.refreshCounts = function(thread_id) {
    $("div.komment_count").each(function(i, obj) {
      if (thread_id === undefined || $(this).data("komment-id") == thread_id)
      {
        $(this).load("{{.CgiPath}}", {
          r: "c",
          komment_id: $(this).data("komment-id")
        })
      }
    })
  }

  self.refreshMessages = function(thread_id) {
    $("div.komment_messages").each(function(i, obj) {
      if (thread_id === undefined || $(this).data("komment-id") == thread_id)
      {
        $(this).load("{{.CgiPath}}", {
          r: "l",
          komment_id: $(this).data("komment-id")
        }, function() {
          self.prepareEditButtons()
          self.prepareEndEditButtons()
          self.prepareEditForms()
        })
      }
    })
  }

  self.replaceForms = function() {
    $("div.komment_form").each(function(i, obj) {
      var thread_id = $(this).data("komment-id")
      $(this).load("{{.CgiPath}}", {
        r: "form",
        komment_id: thread_id
      }, function() {
        $(this).ajaxForm({
          resetForm: true,
          data: { r: "a", komment_id: thread_id },
          dataType: "json",
          success: function() {
            self.refreshCounts(thread_id)
            self.refreshMessages(thread_id)
          },
          error: function() {
            alert("Error!")
          }
        })
      })
    })
  }

  self.prepareEditForms = function() {
    $("form.komment_edit_form").ajaxForm({
      data: {
        r: "e"
      },
      dataType: 'html',
      beforeSerialize: function(form, options) {
        options.data.komment_id = form.data("komment-id")
        options.data.message_id = form.data("message-id")
      },
      success: function(txt_response, txt_status, xhr, form) {
        self.refreshMessages(form.data("komment-id"))
      },
      error: function() {
        alert("Error!")
      }
    });
  }

  self.prepareEditButtons = function() {
    $("a.komment_edit_button").on('click', function() {
      block = $(this).closest(".komment_block")
      message = block.find(".komment_message").css("display", "none")
      edit = block.find(".komment_edit").css("display", "block")
    })
  }

  self.prepareEndEditButtons = function() {
    $("form.komment_edit_form > input[type=button]").on('click', function() {
      block = $(this).closest(".komment_block")
      message = block.find(".komment_message").css("display", "block")
      edit = block.find(".komment_edit").css("display", "none")
    })
  }

  self.init = function() {
    self.replaceForms()
    self.refreshCounts()
    self.refreshMessages()
  }

  return self

}());
