<div class="komment_block">
{{if .Deleted}}
  <div class="komment_deleted">This message has been deleted.</div>
{{else}}
  <div class="komment_name">{{.Name}} wrote:</div>
  <div class="komment_message">{{.Comment}}
{{if .CanEdit}}
  <div class="komment_misc">
    [<a onclick="komment_edit_prepare(this)">edit</a>]
  </div>
{{end}}
  </div>
{{if .CanEdit}}
  <div class="komment_edit" style="display:none">
  <form class="komment_edit_form" method="POST" action="komment.cgi" onsubmit="return komment_edit_send(this, '{{.KommentId}}')">
    <textarea name="comment">{{.Comment}}</textarea>
    <input type="hidden" name="message_id" value="{{.MessageId}}"/>
    <input type="hidden" name="komment_id" value="{{.KommentId}}"/>
    <input type="submit"/>
    <input type="button" value="Cancel" onclick="komment_edit_unprepare(this)"/>
  </form>
  </div>
{{end}}
{{end}}
</div>
