<div class="komment_block">
{{if .Deleted}}
  <div class="komment_deleted">This message has been deleted.</div>
{{else}}
  <div class="komment_name">{{.Name}} wrote:</div>
  <div class="komment_message">{{.Comment}}
{{if .CanEdit}}
  <div class="komment_misc">
    [<a class="komment_edit_button">edit</a>]
  </div>
{{end}}
  </div>
{{if .CanEdit}}
  <div class="komment_edit" style="display:none">
  <form class="komment_edit_form" method="POST" action="{{.CgiPath}}" data-komment-id="{{.KommentId}}" data-message-id="{{.MessageId}}">
    <textarea name="comment">{{.Comment}}</textarea>
    <input type="submit"/>
    <input type="button" value="Cancel"/>
  </form>
  </div>
{{end}}
{{end}}
</div>
